<!-- posts.html -->
<table class="table" xmlns:th="http://www.w3.org/1999/xhtml">
  <thead class="thead-light">
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td>
      <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}" class="post-title"></a>
    </td>
    <td th:text="${post.username}"></td>
  </tr>
  </tbody>
</table>
<div id="post-content"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.post-title').click(function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.get(url, function(data) {
                $('#post-content').html(data);
            });
        });
    });
</script>
