<!DOCTYPE html>
<html>
<head>
  <title>로그인 하기</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
		.container {
			margin-top: 50px;
		}
	</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>로그인을 해주세요</h2>
      <form method="post" action="/member/login">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">로그인하기</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
